<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Hello">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dignissimos nemo animi quisquam, fugit repellat velit? Doloremque
        maxime eveniet autem repellendus officia est! Ex dolore, quae reprehenderit enim vel reiciendis?
      </p>
    </app-card>
  </div>
</div>

<form (submit)="saveOne()">
  <label class="form-label" for="firstname">First Name</label>
  <input type="text" id="firstname" [field]="accountForm.firstName" class="form-control" placeholder="Enter First Name" />

  <button class="btn btn-primary mt-2" type="submit">Submit</button>
</form>
