<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="theme logo" /></a>
      </div>
      <div class="my-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Login</b></h3>
              <a [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/register' : '/register']" class="link-primary">
                Don't have an account?
              </a>
            </div>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <label class="form-label" for="email">Email address / Username</label>
                <input type="email" id="email" class="form-control" placeholder="Enter email" [field]="loginForm.email" />
                @if (submitted && loginForm.email().errors()) {
                  <div class="invalid-feedback">
                    @if (loginForm.email().errors().required) {
                      <div>Email is required and must be valid</div>
                    }
                  </div>
                }
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="password">Password</label>
                @if (!showPassword) {
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    [field]="loginForm.password"
                    [class.is-invalid]="submitted && loginForm.password().error"
                    placeholder="Enter password"
                  />
                } @else {
                  <input
                    type="text"
                    id="password"
                    class="form-control"
                    [field]="loginForm.password"
                    [class.is-invalid]="submitted && loginForm.password().error"
                    placeholder="Enter password"
                  />
                }

                <i
                  antIcon
                  theme="outline"
                  type="{{ showPassword ? 'eye' : 'eye-invisible' }}"
                  id="togglePassword"
                  (click)="togglePasswordVisibility()"
                ></i>

                @if (submitted && loginForm.password().errors()) {
                  <div class="invalid-feedback">
                    @if (loginForm.password().errors().required) {
                      <div>Password is Required</div>
                    }
                  </div>
                }
              </div>
              <div class="d-flex mt-1 justify-content-between">
                <div class="form-check">
                  <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked />
                  <label class="form-check-label text-muted" for="customCheckc1">Keep me sign in</label>
                </div>
                <a
                  [routerLink]="[this.authenticationService.isLoggedIn() ? '/auth/forgot-password' : '/forgot-password']"
                  class="text-primary"
                >
                  Forgot Password?
                </a>
              </div>
              <div class="d-grid mt-4">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
              @if (error) {
                <div class="alert alert-danger mt-3 mb-0">{{ error }}</div>
              }
            </form>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="https://www.dressagesa.com/" target="_blank">Dressage South Africa</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item me-4"><a href="https://www.dressagesa.com/" target="_blank">Home</a></li>
            <li class="list-inline-item me-4"><a href="https://www.dressagesa.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="https://www.dressagesa.com/" target="_blank">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
